/* h1{
    text-align: center;
    text-transform: uppercase;
} */
.l-box{
    background-color: aquamarine;
    /* padding: 100px 50px ; */
    text-align: center;
}
.l-box,.r-box{
    display: inline-block;
}
.r-box{
    padding-left: 10px;
    /* background-color: aqua; */
    width: 76%;
    margin-left:5px ;
}
img{
    padding: 10px;
    /* float: left; */
    border-radius: 150px;
    height: 160px;
    width: 160px;
}
table{
    text-align: center;
}
/* body{
    line-height: 44px;
}
ul{
    margin-left: 20px;
} */
