*{
    /* border:2px dashed darkcyan; */
    padding: 0;
    margin: 0;
    text-align: center;
}
header,footer,.main,.menu,.right{
    background-color: rgb(224, 21, 207);
    border:5px solid darkcyan;
}
.menu,.big-box{
    display: inline-block;
}
.menu{
    vertical-align: top;
    padding:265px 155px;
}
.main,.right{
    display: inline-block;
    margin-left:-5px;
}
header{
    padding:30px 0px;
}
footer{
    padding:32px 400px;
    margin-left:-5px;
}
.main{
    padding:210px 217px;
}
.right{
    padding: 210px 200px;
}
