*{
    padding: 0;
    margin: 0;
    text-align: center;
}
.box{
    border:2px solid black;
}
header{
    background-color: palevioletred;
    padding: 40px;
}
nav{
    background-color: purple;
    color: antiquewhite;
    padding: 24px;
}
.left,main{
    display: inline-block;
}
.left{
    background: rgb(230, 35, 100);
    padding: 190px 0px;
    width: 30%;
}
main{
    /* background-color: aqua; */
    padding: 190px 0px;
    width:69.68%;
    
}
footer{
    background: rgb(233, 54, 233);
    padding:40px;
}